
/* ccs reset */
body { 
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input {
    margin: 0;
    padding: 0;
}

span {

}


/* setting */
body {
    background-color: #111;
}

/* div-1 */
.div-1 {
    margin-bottom: 5rem;
}
.div-1-1 {
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-1-1 h1{
    padding: 1rem;
    color: blueviolet;
}
.div-1-1 input {
    border-radius: 3rem;
    width: 50vw;
    height: 2rem;
}

.div-1-2 {}
.div-1-2 ul {
    display: flex;
    justify-content: center;
}
.div-1-2 li {

}
.div-1-2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 64px;
}
.service-icon-fineye{
    background-image: url(../image/icon/fineye.png);
    width: 44px;
    height: 44px;
}
.service-icon-mtj{
    background-image: url(../image/icon/mtj.png);
    width: 44px;
    height: 44px;
}



/* div-2 */
.div-2 {
    margin-bottom: 3rem;
}
.div-2 h2 { color: orangered; }
.portrait {
    background-image: url(../image/portrait1.png);
    background-size: cover;
    background-position: top;
    padding-top: 56.25%;
}



/* div-3 */
/* Animation */
@keyframes rolling{
    0%{ transform: translateY(0); }
    25%{ transform: translateY(-20%); }
    50%{ transform: translateY(-40%); }
    75%{ transform: translateY(-60%); }
    100%{ transform: translateY(-80%); }
}
.div-3 {
    margin-bottom: 3rem;
    color: #999;
    margin-left: 1rem;
    margin-right: 1rem;
}
.div-3-1 {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    height: 1.5rem;
    font-style: italic;
}
.div-3-1 ul {
    animation-name: rolling;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: white;
}
.div-3 h2 {
    color: deeppink;
    font-style: italic;
}
.div-3 a {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.github { background-image: url(../image/icon/github.png); }
.youtube { background-image: url(../image/icon/youtube.png); }



/* div-4 */
.div-4 {
    color: #999;
    margin-left: 1rem;
    margin-right: 1rem;
}
.section {
    margin-bottom: 2rem;
}
.div-4 h3 {
    color: orangered;
    border-top: 3px solid;
}
.project h4 {
    color: orange;
    border-top: 2px solid;
    float: left;
    margin-right: 1rem;
}






.graph li {
    background: rgb(104,97,232);
    background: linear-gradient(90deg, rgba(104,97,232,1) 0%, rgba(190,0,255,1) 100%);
    color: white;
    padding: 0.5em 1em;
    margin: 0.4em 0;
    border-radius: 50px;
    box-sizing: border-box;
}

.graph li::before {
    content: attr(data-score);
    float: right;
}

.graph li[data-score="100%"]{ width: 100%; }
.graph li[data-score="90%"]{ width: 90%; }
.graph li[data-score="80%"]{ width: 80%; }
.graph li[data-score="70%"]{ width: 70%; }
.graph li[data-score="60%"]{ width: 60%; }
.graph li[data-score="50%"]{ width: 50%; }
.graph li[data-score="40%"]{ width: 40%; }
.graph li[data-score="30%"]{ width: 30%; }
.graph li[data-score="20%"]{ width: 20%; }
.graph li[data-score="10%"]{ width: 10%; }

